.scrolling-text-inner>div {
    animation: var(--direction) var(--marquee-speed) linear infinite;

}

.scrolling-text-container:hover .scrolling-text-inner>div {
    animation;
    overflow: hidden;
}

@keyframes scroll-left {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes scroll-right {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}